node_modules
dist
.DS_Store
*.local
dev-dist
.zarinpal-config.json
public/api/zarinpal/config.php
android/app/build
android/build
android/.gradle
android/local.properties
android/*.keystore
android/app/*.keystore
android/keystore.properties
